// Color Template

.color-primary-bg {
  background: $color-primary;
}

.color-primary {
  color: $color-primary;
}

.color-primary-bg-2 {
  background: $color-primary-2;
}

.color-primary-2 {
  color: $color-primary-2;
}

.color-secondary-bg {
  background: $color-secondary;
}

.color-secondary {
  color: $color-secondary;
}

.color-primary-font-bg {
  background: $color-primary-font;
}

.color-primary-font {
  color: $color-primary-font;
}

.color-primary-button {
  background: $color-primary-button;
}
