$font-raleway: "Raleway" ,cursive;
$font-rubik: "Rubik" ,cursive;
$font-roboto: "Roboto" ,cursive;
$color-primary: #F3F3F3; // #FDF8FB Background (white)
$color-primary-2: #FDF8FB;
$color-secondary: #E8CEBF; //light pink #DDAF94 light orange #266150 green for buttons
$color-primary-font: #4F4846; //FONT
$color-primary-button: #bd8c7d;
